<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>Активация аккаунта участника фестиваля "Оборона Таганрога 1855 года"</h2>
        <a href="http://{{ act_mail }}">Ссылка для активации</a>
       
        <h3>
            Для подтверждения почты перейдите по указанной ссылке, далее вернитесь в приложение и авторизуйтесь по почте и паролю, указанными при регистрации.
            <br>Если Вы изменили свою почту на новую в профиле, авторизуйтесь в приложении с новой почтой, после того как её подтвердите.
        </h3>


    </body>
</html>