<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'oborona:people' %}">Оборона Таганрога</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" id="id_search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="">Выйти</a>
      </li>
    </ul>
  </nav>

  {% load static %}
  
  <!-- Скрипты для поиска -->
  <script>
    (function (w, doc,co) {
      // http://stackoverflow.com/questions/901115/get-query-string-values-in-javascript
      var u = {},
        e,
        a = /\+/g,  // Regex for replacing addition symbol with a space
        r = /([^&=]+)=?([^&]*)/g,
        d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
        q = w.location.search.substring(1),
        v = '2.0.3';

      while (e = r.exec(q)) {
        u[d(e[1])] = d(e[2]);
      }
      
      if (!!u.jquery) {
        v = u.jquery;
      }	

      doc.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/'+v+'/jquery.min.js">' + "<" + '/' + 'script>');
      co.log('\nLoading jQuery v' + v + '\n');
    })(window, document, console);
    </script>


    <script src="{% static 'javascript/jquery.quicksearch.js' %}"></script>
    <script>
      $(function () {
        $('input#id_search').quicksearch('table#table_for_search tbody tr');
      });
    </script>